body {
    z-index: 1;
    background-image: url("/cdn/images/bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 16px 48px;
    padding: 12px 4px;
    font-family: Inter;
    border-radius: 8px;
}