/* NAVIGATION BAR */

.navbar {
	background-color: #1c1f25;
	overflow: hidden;
	z-index: 69;
	position: sticky;
	top: 0;
	width: 100%;
}

.navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: background-color 0.3s;
	border-right: 2px solid #2D323B;
}

.navbar a:hover {
	background-color: #115a3f;
}

.navbar a.navactive {
	background-color: #04AA6D;
	color: white;
}

.navbar .navinvert {
	float: right;
}