@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    background-color: #14161A;
	color: #FFFFFF;
	text-align: center;
	margin: 0px;
}

/* sad that disq.me is dead */

@keyframes rainbow {
	0% {
	  background-position: 0 82%;
	}
	50% {
	  background-position: 100% 19%;
	}
	100% {
	  background-position: 0 82%;
	}
}

.rainbow {
    background: -webkit-linear-gradient(124deg,#ff2400,#e81d1d,#e8b71d,#e3e81d,#1de840,#1ddde8,#2b1de8,#dd00f3,#dd00f3);
    background-size: 1800% 1800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #1C1F25;
}

::-webkit-scrollbar-thumb {
    background: #04AA6D;
}